.drop-zone {
	max-width: 400px;
	height: 100%;
	padding: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 20px;
	cursor: pointer;
	color: #cccccc;
	border: 4px dashed #009578;
	border-radius: 10px;
}

.drop-zone--over {
	border-style: solid;
}

.drop-zone__input {
	display: none;
}

.drop-zone__thumb {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	background-color: #cccccc;
	background-size: cover;
	position: relative;
}

.drop-zone__thumb::after {
	content: attr(data-label);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px 0;
	color: white;
	background: rgba(0, 0, 0, 0.75);
	font-size: 14px;
	text-align: center;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.alert {
	z-index: 10;
}

.form-holder {
	padding: 10px;
	padding-left: 20%;
	padding-right: 20%;
	display: grid;

	grid-template-columns: 40% 60%;
}

.drop-zone {
	grid-column: 1;
}

.button-holder {
	grid-column: 2;
	padding: 20px;
	text-align: center;
}

.label {
	margin: 0;
	padding-top: 2px;
	font-size: x-small;
	font-weight: 400;
	color: #757575;
}
